# =========================================
#  Django — arquivos que NÃO devem ir pro git
# =========================================

# Banco de dados (dados locais)
db.sqlite3
db.sqlite3-journal

# Ambiente / segredos
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
env/

# Mídias e arquivos estáticos gerados
/media/
/staticfiles/

# IDE / editores
.idea/
.vscode/
*.swp

# SO
.DS_Store
Thumbs.db
